@media (min-width: 992px) {
	.main { 
	grid-area: main;
	display: grid;
	grid-template: 1fr / 1fr  minmax(auto, 300px) minmax(auto, 1100px) 1fr;
	}

	.sidebar {
		grid-column: 2 / 3;
		margin: 0;
	}

	.content {
		grid-column: 3 / 4;
		padding-left: 30px;
	}
}

@media (min-width: 767px) {
	.gallery__item-big {
		grid-column: span 2;
		grid-row: span 2;
	}
}

@media (max-width: 992px) {
	.header__list {
		display: none;
	}
}

@media (min-width: 550px) {
	.footer__copy {
		grid-column: 2 / 3;
	}
	
	.footer__text {
		text-align: right;
		grid-column: 3 / 4;
	}
}

@media (max-width: 550px) {
	.footer {
		font-stretch: 1fr 1fr / 1fr;
		text-align: center;
	}

	.footer__copy {
		order: 2;
	}
	.footer__text {
		order: 1;
	}
}